{% extends 'base.html.twig' %}

{% block title %}Age Calculator{% endblock %}

{% block body %}
<h1>Results:</h1>
<p>
	Since you were born on {{ age.getBirthDate().format('l, F n, Y') }}, {{ age.getFullAge() }} have passed.
</p>
{% endblock %}
